@page "/sqldata"
@using BlazorApp_Entity.Data
@inherits Data.SqlConnect
<h3>Sqldata</h3>
<div>
    IP：<input placeholder="Ip地址" @bind-value="IpAdress" />
    Port:<input placeholder="端口号" @bind-value="Port" />
</div>
<div>
    Account:<input placeholder="账号" @bind-value="Account" />
    Password:<input placeholder="密码" @bind-value="Password" />
</div>
<button class="btn btn-primary" @onclick="connectionDb">连接数据库</button>
@if (tables == null)
{
    <p><em>Loading</em></p>
}
else
{
    @*<table class="table">
            <thead>
                <tr>
                    <th>表</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var table in tables)
                {
                    <tr>
                        <td>[@table.Schema].[@table.TableName]</td>
                        <td>@table.Describe</td>
                    </tr>
                }
            </tbody>
        </table>*@
    <BTable DataSource="tables" Total="tables.Count" @bind-CurrentPage="CurrentPage" PageSize="pageSize" @ref="table">
        <BTableColumns>
            <BTableTemplateColumn Text="操作">
                <BButton Type="@ButtonType.Primary" Size="@ButtonSize.Mini" OnClick="@(e=> ShowDetail(context))">查看详细</BButton>
            </BTableTemplateColumn>
        </BTableColumns>
    </BTable>
}


@code {
    [Parameter]
    public string IpAdress { get; set; } = "127.0.0.1";
    [Parameter]
    public string Port { get; set; } = "3306";
    [Parameter]
    public string Account { get; set; } = "root";
    [Parameter]
    public string Password { get; set; } = "123456";
    [Inject]
    MessageService MessageService { get; set; }

    public void connectionDb()
    {

        tables = GetDatabaseList(new ConnectionInfo { Account = Account, IpAdress = IpAdress, Port = Port, Pwd = Password });
    }

    protected override void OnInitialized()
    {
        tables = GetDatabaseList(new ConnectionInfo { Account = Account, IpAdress = IpAdress, Port = Port, Pwd = Password });
    }
    public void ShowDetail(object testData)
    {
        MessageService.Show($"正在编辑 " + ((TableInfo)testData).TableName);
    }
}
