<input @oninput="OnPasswordChanged" required
       type="@(showPassword?"text":"password")"
       value="@PasswordMyself" />
<button class="btn btn-primary" @onclick="ToggleShowPassword">
    Show password
</button>
<span class="alert-danger">@validateMsg</span>


@code {
    private string validateMsg { get; set; } = "";
    private bool showPassword;

    [Parameter]
    public string PasswordMyself { get; set; }

    [Parameter]
    public EventCallback<string> PasswordMyselfChanged
    { get; set; }

    private Task OnPasswordChanged(ChangeEventArgs e)
    {
        PasswordMyself = e.Value.ToString();
        if (PasswordMyself.Contains(" "))
        {
            validateMsg = "密码包含空格，请注意";
        }
        else { validateMsg = ""; }

        return PasswordMyselfChanged.InvokeAsync(PasswordMyself);
    }

    private void ToggleShowPassword()
    {
        showPassword = !showPassword;
    }
    public void Show()
    {
        PasswordMyselfChanged.InvokeAsync("show");
    }
}
