@page "/properties"
@using BlazorApp_Entity.Data
@using BlazorApp_Entity.Model
@inherits BlazorApp_Entity.Data.Properties
<h3>Property</h3>

<BTable DataSource="Datas" IsBordered="true" AutoGenerateColumns="false" HasSelectionColumn="false">
    <BTableColumns>
        <BTableColumn Width="100" Property="@nameof(PropertyInfo.PropertyName)" Text="字段名"></BTableColumn>
        <BTableColumn Width="100" Property="@nameof(PropertyInfo.PropertyType)" Text="字段类别"></BTableColumn>
        <BTableColumn Width="100" Property="@nameof(PropertyInfo.PropertyDescribe)" Text="字段描述"></BTableColumn>
    </BTableColumns>
</BTable>
